@import "colors";

.app-footer {
  background-color: $shark;
  height: 40px;
  padding: 10px;
  color: white;
  text-align: center;
}

.app-footer > a {
  padding: 10px;
  text-decoration: none;
  color: white;
}
