.details {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.image-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.icon-favorite {
  font-size: 2em !important;
  color: #fbbd08 !important;
}
