.deck-container {
  flex: 1;
  margin-left: 235px;
}

.deck-card-list {
  flex: 1;
  padding: 10px !important;
  width: 100%;
  overflow: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.deck-list {
  list-style: none;
  padding: 0;
  width: calc(100% - 20px);
}

.deck-details {
  display: flex;
  margin-bottom: 10px;
}

.deck-list-item {
  display: inline-flex;
  width: calc(100% - 30px);
  justify-content: space-between;
  align-items: center;
}

.deck-list-item-name {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.flicker-fix {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.ui.sidebar.test {
  overflow-y: visible !important;
  visibility: visible;
  width: 30% !important;
}

h4 {
  text-align: left;
}

div.item {
  padding: 10px;
}
