@import "colors";

.filters {
  width: 235px !important;
  height: 100vh;
  padding: 10px;
  background: $shark;
  color: #ffffff;
  position: fixed;
  border-radius: 0px !important;
  overflow-y: auto;
  top: 0px;
  bottom: 0px;
}

div.ui.icon.input {
  padding: 5px;
  width: stretch;

  i.icon.search {
    margin-right: 5px;
  }
}

div.ui.multiple.dropdown {
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;

  a.ui.label {
    padding: inherit;
    margin: inherit;
    vertical-align: inherit;
  }
}
