@import "colors";

.main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  min-height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
}

.container {
  font-size: 18px;
  color: $mine-shaft;
  // width: 700px;
  line-height: 1.6;
  text-align: center;
  margin-top: 10px;
}
