@import "colors";

.container {
  font-size: 18px;
  color: $mine-shaft;
  height: 100%;
  line-height: 1.6;
  text-align: center;
  margin-top: 10px;
  flex: 1;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
