@import "colors";

.navbar {
  display: flex;
  list-style: none;
  background: $shark;
  width: 100vw;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  color: $white;
  text-decoration: none;
}

.nav-brand {
  width: 235px;
}
